GIT_CRYPT_KEY={{ ccagent_git_crypt_key }}
{% if ccagent_github_app_private_key | length > 0 %}
GH_APP_ID={{ ccagent_github_app_id }}
GH_APP_INSTALLATION_ID={{ ccagent_github_app_installation_id }}
GH_APP_PRIVATE_KEY_PATH={{ ccagent_home }}/.github-app/private-key.pem
{% endif %}
