# {{ ansible_managed }}

[Unit]
Description={{ volume_item.value.description | default(volume_item.key | replace('-', ' ') | title) }} Podman volume

[Volume]
Driver={{ volume_item.value.driver | default('local') }}
{% if volume_item.value.type is defined %}
Type={{ volume_item.value.type }}
{% endif %}
{% if volume_item.value.device is defined %}
Device={{ volume_item.value.device }}
{% endif %}
{% if volume_item.value.options is defined %}
Options={{ volume_item.value.options }}
{% endif %}
