# GitHub Actions runner environment

PATH={{ github_runner_home }}/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

VAULT_PASSWORD={{ github_runner_vault_password }}
GIT_CRYPT_KEY={{ github_runner_git_crypt_key }}
GITHUB_TOKEN={{ github_runner_pat }}
ANSIBLE_VAULT_PASSWORD_FILE=/tmp/.vault_password
TF_TOKEN_app_terraform_io={{ github_runner_hcp_terraform_token }}
{% if github_runner_terraform_ssh_key | length > 0 %}
SSH_AUTH_SOCK=/run/github-runner-ssh-agent/agent.sock
{% endif %}
