# {{ ansible_managed }}

[Unit]
Description=Radarr
After=network-online.target
Wants=network-online.target

[Container]
Image={{ radarr_image }}:{{ radarr_image_tag }}
ContainerName={{ radarr_container_name }}
PublishPort={{ radarr_web_port }}:{{ radarr_container_port }}
Volume={{ radarr_config_dir }}:/config
Volume={{ radarr_movies_dir }}:/movies
Volume={{ radarr_downloads_dir }}:/downloads
{% for key, value in radarr_env_vars.items() %}
Environment={{ key }}={{ value }}
{% endfor %}

[Service]
Restart={{ radarr_service_restart }}

[Install]
WantedBy=multi-user.target
